:root {
    font-family: "Karla", sans-serif;
}

input, textarea {
    font-family: "Karla", sans-serif;
    font-size: 13.5pt;
    color: var(--dark-grey);
}

h1 {
    letter-spacing: -1px;
    margin: 21px 0 16px;
}